
@{
    ViewData["Title"] = "ListProductManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Project_ASP.NET_ShoppingOnline.Models;
@model List<Product>
@section styles{
    <style>
        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: black;
                font-size: 22px;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

                .pagination a.active {
                    background-color: #ee3e0f;
                    color: black;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ee3e0f;
                }

        table {
            text-align: center;
            margin: 0 auto;
        }

        tbody, td, tfoot, th, thead, tr {
            border-width: 1px;
        }

        button a {
            text-decoration: none;
        }
    </style>
}

<h1 style="text-align: center">Manager Products</h1>
<a style="display: flex;  justify-content: center; margin-bottom: 20px" href="/Product/addNewProduct"><button style=" border: #fd7e14 solid 1px" type="button">ADD NEW</button></a>

<table border="1px">
    <tr>
        <th>ProductID</th>
        <th>CategoryName</th>
        <th>ProductName</th>
        <th>image</th>
        <th>Price</th>
        <th>Units In Stock</th>
        <th>Units On Order</th>
        <th>description</th>
        <th>Action</th>
    </tr>
    @foreach (Product product in Model)
    {


        
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Category.CategoryName</td>
                <td>@product.ProductName</td>
                <td><img style="width: 80px;height: 60px;" src="~/@product.Image" /></td>
                <td class="monney">@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
                <td>@product.UnitsOnOrder</td>
                <td>@product.Description</td>

                <td>
                    <button type="button"><a href="/Product/editProduct/@product.ProductId">edit</a></button>&nbsp;&nbsp;&nbsp;
                    <button type="button" data-toggle="modal" data-target="#exampleModal@(product.ProductId)"><a onclick="doDelete('${li.productID}')">remove</a> </button>

                </td>

            </tr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal@(product.ProductId)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" style="color:red;">Do you really want to delete this product?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>@product.ProductId</p>
                            <p>@product.ProductName</p>
                            <p>@product.Category.CategoryName</p>
                            <p>@product.UnitPrice</p>
                            <img src="~/@product.Image" id="output0" width="200">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="/Product/deleteProduct/@product.ProductId"><button type="button" class="btn btn-primary">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
        



    }
</table>

<div class="pagination" id="paginationP">

    @if (ViewBag.Page > 1)
    {
        <a href="@Url.Action("ListProductManager","Product", new { page = ViewBag.Page - 1 })" class="btn btn-default"> &laquo; Prev </a>
    }

    @for (var i = 1; i <= ViewBag.MaxPage + 1; i++)
    {
        <a class="@(ViewBag.Page == i?"active":"")" href="@Url.Action("ListProductManager","Product", new { page = i})">@i</a>
    }

    @if (ViewBag.Page < ViewBag.MaxPage + 1)
    {
        <a href="@Url.Action("ListProductManager","Product", new {page = ViewBag.Page + 1 })" class="btn btn-default">Next &raquo;</a>
    }

</div>

